@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
   --cor0: #808080;
   --cor1: #404040;
   --cor2: #C0C0C0;
   --cor3: #CCCCCC;
   --cor4: #A6A6A6;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
}

header {
    background-color: var(--cor4);
    min-width: 100px;
    text-align: center;
    padding-top: 5px 5px;
}

main {
    margin: auto;
    height: auto;
    min-width: 280px;
    max-width: 800px;
    padding: 20px;
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));    
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(44, 35, 29, 0.616);
    color: var(--cor1);
}

img#alan2{
    border-radius: 50%;
}

h1 {
    color: var(--cor1);
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    color: var(--cor3);
    font-size: 1.8em;
}

ul {
    color: var(--cor3);
    margin-bottom: 140px;
}

p {
    text-align: justify;
}

footer {
    font-size: 0.8em;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));
    margin: auto;
    padding: 5px;
}

footer p{
    color: var(--cor1);
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer a:visited {
    color: var(--cor1);
  }

  a {
    color: var(--cor3);
  }